#GridWrapper {
    display: grid;  
    grid-gap: 0px;  
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#Header {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: black;
    color: white;    
    text-align: center;
    justify-items: center;
    
}

#Titulo {
    grid-column: 1/ span 1;
    grid-row: 1/2;
    background-color: aqua;
    font-size: 30px;
    width: 100%;
}

#PaginaPrincipal {
    align-items: center;
}

#Modelos {
}

#QuienesSomos {
}

#Contacto {
}

body {
    font-size: 30px;
    margin: 0px;
}

a:hover {
    border-radius: 10px;
    background-color: #555;
    color: rgb(24, 8, 165);
    font-size: 40px;
}